IPSA/
/src/__pycache__
src/.env
src/IPSA.session
src/IPSA.session-journal
/src/kb_builder/__pycache__
/src/resources/__pycache__
src/stock_price_chart.png
src/stock_candlestick.png
src/stock_price_chart.png
src/price_prediction.png
src/stock.png
/src/model/__pycache__
.venv/
src/client_data/*.png
.qodo
/src/client_data
/bot/src/client_data
bot/src/.env
bot/src/IPSA.session
bot/src/IPSA_MODEL/price/best_model.keras
bot/src/IPSA_MODEL/news/training_history.pickle
bot/src/IPSA_MODEL/price/stock_model.keras
bot/src/IPSA_MODEL/price/stock_scaler.save
bot/src/IPSA_MODEL/news/sentiment_model.keras
bot/src/IPSA_MODEL/news/best_sentiment_model.keras
